<div class="backdrop-65" data-modal-2>
  <div class="modal">
    <button class="btn-close" type="button" data-modal-close-2>
      <svg class="modal-input" width="14" height="14">
        <use href="/images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <h2 class="join-title">Join Now!</h2>
    <p class="join-text">8 Sessions Package</p>
    <p class="join-price">$65</p>
    <form class="join-form">
      <div class="join-form-label-cont">
        <label class="join-form-label" for="user-name">Your Name</label>
        <div class="input-wrap">
          <input
            class="input-cont name"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Liam"
          />
        </div>
        <div class="join-input-tablet">
          <div class="join-form-label-cont">
            <label class="join-form-label" for="user-email">Email</label>
            <div class="input-wrap">
              <input
                class="input-cont"
                type="email"
                name="user-email"
                id="user-email"
                placeholder="hello@yogabloom.com"
              />
            </div>
          </div>
          <div class="join-form-label-cont">
            <label class="join-form-label" for="user-phone">Phone number</label>
            <div class="input-wrap">
              <input
                class="input-cont"
                type="tel"
                name="user-phone"
                id="user-phone"
                placeholder="+380 (95) 123 12 12"
              />
            </div>
          </div>
        </div>
      </div>
      <button class="join-btn button" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
