<section class="gallery-section" id="gallery-section">
    <div class="container">
        <h2 class="gallery-title">Breathe in the Space</h2>
        <p class="gallery-text">Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful
            moments our community shares during
            each session.</p>
        <ul class="gallery-list">
            <li class="gallery-card">
                <picture>
                    <source media="screen and (max-width: 767px)" srcset="/images/gallery/mob-image 1.webp 1x,
                            /images/gallery/mob-image 1@2.webp 2x" />
                    <source media="screen and (max-width: 1335px)" srcset="images/gallery/tabl-image 1.webp 1x,
                            images/gallery/tabl-image 1@2.webp 2x" />
                    <img src="/images/gallery/deskt-image 1.webp" srcset="/images/gallery/deskt-image 1.webp 1x,
                            /images/gallery/deskt-image 1@2.webp 2x" alt="Yoga pose" />
                </picture>
            </li>

            <li class="gallery-card">
                <picture>
                    <source media="screen and (max-width: 767px)" srcset="/images/gallery/mob-image 2.webp 1x,
                            /images/gallery/mob-image 2@2.webp 2x" />
                    <source media="screen and (max-width: 1335px)" srcset="/images/gallery/tabl-image 2.webp 1x,
                            /images/gallery/tabl-image 2@2.webp 2x" />
                    <img src="/images/gallery/deskt-image 2.webp" srcset="/images/gallery/deskt-image 2.webp 1x,
                            /images/gallery/deskt-image 2@2.webp 2x" alt="Meditation" />
                </picture>
            </li>

            <li class="gallery-card">
                <picture>
                    <source media="screen and (max-width: 767px)" srcset="/images/gallery/mob-image 3.webp 1x,
                            /images/gallery/mob-image 3@2.webp 2x" />
                    <source media="screen and (max-width: 1335px)" srcset="/images/gallery/tabl-image 3.webp 1x,
                            /images/gallery/tabl-image 3@2.webp 2x" />
                    <img src="/images/gallery/deskt-image 3.webp" srcset="/images/gallery/deskt-image 3.webp 1x,
                            /images/gallery/deskt-image 3@2.webp 2x" alt="Yoga studio" />
                </picture>
            </li>

            <li class="gallery-card">
                <picture>
                    <source media="screen and (max-width: 767px)" srcset="/images/gallery/mob-image 4.webp 1x,
                            /images/gallery/mob-image 4@2.webp 2x" />
                    <source media="screen and (max-width: 1335px)" srcset="/images/gallery/tabl-image 4.webp 1x,
                            /images/gallery/tabl-image 4@2.webp 2x" />
                    <img src="/images/gallery/deskt-image 4.webp" srcset="/images/gallery/deskt-image 4.webp 1x,
                            /images/gallery/deskt-image 4@2.webp 2x" alt="Yoga space" />
                </picture>
            </li>

            <li class="gallery-card">
                <picture>
                    <source media="screen and (max-width: 767px)" srcset="/images/gallery/mob-image 5.webp 1x,
                            /images/gallery/mob-image 5@2.webp 2x" />
                    <source media="screen and (max-width: 1335px)" srcset="/images/gallery/tabl-image 5.webp 1x,
                            /images/gallery/tabl-image 5@2.webp 2x" />
                    <img src="/images/gallery/deskt-image 5.webp" srcset="/images/gallery/deskt-image 5.webp 1x,
                            /images/gallery/deskt-image 5@2.webp 2x" alt="Yoga group" />
                </picture>
            </li>

            <li class="gallery-card">
                <picture>
                    <source media="screen and (max-width: 767px)" srcset="/images/gallery/mob-image 6.webp 1x,
                            /images/gallery/mob-image 6@2.webp 2x" />
                    <source media="screen and (max-width: 1335px)" srcset="/images/gallery/tabl-image 6.webp 1x,
                            /images/gallery/tabl-image 6@2.webp 2x" />
                    <img src="/images/gallery/deskt-image 6.webp" srcset="/images/gallery/deskt-image 6.webp 1x,
                            /images/gallery/deskt-image 6@2.webp 2x" alt="Breathing practice" />
                </picture>
            </li>
        </ul>
    </div>
</section>