<section class="gallery-section" id="gallery-section">
        <div class="container gallery-container">
                <h2 class="gallery-title">Breathe in the Space</h2>
                <p class="gallery-text">Step inside YogaBloom and feel the calm. Explore our serene studio and the
                        peaceful
                        moments our community shares during
                        each session.</p>
                <ul class="gallery-list">
                        <li class="gallery-card">
                                <picture>
                                        <source media="screen and (max-width: 767px)" srcset="/images/gallery/mob-Image 1.jpg 1x,
                            /images/gallery/mob-Image 1@2.jpg 2x" />
                                        <source media="screen and (max-width: 1335px)" srcset="/images/gallery/1.jpg 1x,
                            /images/gallery/1@2.jpg 2x" />
                                        <img class="gallery-picture" src="/images/gallery/deskt-image 1.jpg" srcset="/images/gallery/deskt-image 1.jpg 1x,
                            /images/gallery/deskt-image 1@2.jpg 2x" alt="Yoga pose" />
                                </picture>
                        </li>

                        <li class="gallery-card">
                                <picture>
                                        <source media="screen and (max-width: 767px)" srcset="/images/gallery/mob-Image 2.jpg 1x,
                            /images/gallery/mob-Image 2@2.jpg 2x" />
                                        <source media="screen and (max-width: 1335px)" srcset="/images/gallery/2.jpg 1x,
                            /images/gallery/2@2.jpg 2x" />
                                        <img class="gallery-picture" src="/images/gallery/deskt-image 2.jpg" srcset="/images/gallery/deskt-image 2.jpg 1x,
                            /images/gallery/deskt-image 2@2.jpg 2x" alt="Meditation" />
                                </picture>
                        </li>

                        <li class="gallery-card">
                                <picture>
                                        <source media="screen and (max-width: 767px)" srcset="/images/gallery/mob-Image 3.jpg 1x,
                            /images/gallery/mob-Image 3@2.jpg 2x" />
                                        <source media="screen and (max-width: 1335px)" srcset="/images/gallery/3.jpg 1x,
                            /images/gallery/3@2.jpg 2x" />
                                        <img class="gallery-picture" src="/images/gallery/deskt-image 3.jpg" srcset="/images/gallery/deskt-image 3.jpg 1x,
                            /images/gallery/deskt-image 3@2.jpg 2x" alt="Yoga studio" />
                                </picture>
                        </li>

                        <li class="gallery-card">
                                <picture>
                                        <source media="screen and (max-width: 767px)" srcset="/images/gallery/mob-Image 4.jpg 1x,
                            /images/gallery/mob-Image 4@2.jpg 2x" />
                                        <source media="screen and (max-width: 1335px)" srcset="/images/gallery/4.jpg 1x,
                            /images/gallery/4@2.jpg 2x" />
                                        <img class="gallery-picture" src="/images/gallery/deskt-image 4.jpg" srcset="/images/gallery/deskt-image 4.jpg 1x,
                            /images/gallery/deskt-image 4@2.jpg 2x" alt="Yoga space" />
                                </picture>
                        </li>

                        <li class="gallery-card">
                                <picture>
                                        <source media="screen and (max-width: 767px)" srcset="/images/gallery/mob-Image 5.jpg 1x,
                            /images/gallery/mob-Image 5@2.jpg 2x" />
                                        <source media="screen and (max-width: 1335px)" srcset="/images/gallery/5.jpg 1x,
                            /images/gallery/5@2.jpg 2x" />
                                        <img class="gallery-picture" src="/images/gallery/deskt-image 5.jpg" srcset="/images/gallery/deskt-image 5.jpg 1x,
                            /images/gallery/deskt-image 5@2.jpg" alt="Yoga group" />
                                </picture>
                        </li>

                        <li class="gallery-card">
                                <picture>
                                        <source media="screen and (max-width: 767px)" srcset="/images/gallery/mob-Image 6.jpg 1x,
                            /images/gallery/mob-Image 6@2.jpg 2x" />
                                        <source media="screen and (max-width: 1335px)" srcset="/images/gallery/6.jpg 1x,
                            /images/gallery/6@2.jpg 2x" />
                                        <img class="gallery-picture" src="/images/gallery/deskt-image 6.jpg" srcset="/images/gallery/deskt-image 6.jpg 1x,
                            /images/gallery/deskt-image 6@2.jpg 2x" alt="Breathing practice" />
                                </picture>
                        </li>
                </ul>
        </div>
</section>