

    <section class="hero"> 
   
        <picture>
            <source 
            media="(min-width:1336px)"
            srcset="/images/placeholder-desk.jpg 1x, /images/placeholder-desk@2.jpg 2x">
            <source 
            media="(min-width:768px)"
            srcset="/images/placeholder-tab.jpg 1x, /images/placeholder-tab@2.jpg 2x">
            <img 
            src="/images/placeholder-mob.jpg" 
            srcset="/images/placeholder-mob.jpg 1x, /images/placeholder-mob@2.jpg 2x"
            alt="Yoga at sunset" 
            class="hero-image"/> 
        </picture>
        <div class="container">
        <div class="hero-container">
            <h1 class="hero-headline">Transform Your Life with Our Yoga Courses</h1>
            <div class="hero-info-container">
                <p class="hero-text">Discover the harmony of mind and body through our expertly designed yoga programs. Join a community dedicated to
                wellness and personal growth.</p>
                <div class="btn-hero-container">
                <a href="#pricing-section" class="btn-hero btn-hero-join">Join Now</a>
                <a href="#gallery-section" class="btn-hero btn-hero-learn">Learn More</a>
            </div>
            </div>
        </div>
    </div>

    </section>
