<section class="section-our-team">
  <div class="container team">
    <div class="team-title-wrap">
      <p class="meet">Meet</p>
      <h2 class="section-title">Our Team</h2>
      <p class="team-main-text">
        Dedicated professionals passionate about yoga and wellness.
      </p>
    </div>
    <ul class="team-cont">
      <li class="team-item">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/Team/liam-johnson-d-1x.png 1x,
              /images/Team/liam-johnson-d-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/Team/liam-johnson-t-1x.png 1x,
              /images/Team/liam-johnson-t-2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/Team/liam-johnson-m-1x.png 1x,
              /images/Team/liam-johnson-m-2x.png 2x
            "
          />
          <img src="/images/Team/liam-johnson-m-1x.png" alt="liam johnson" />
        </picture>
        <div class="team-name-cont">
          <h3 class="team-name">Liam Johnson</h3>
          <p class="team-prof">Yoga Instructor</p>
          <p class="team-exp">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
        </div>
        <ul class="team-social">
          <li class="social-icon" hidden>
            <a
              class="socials-link"
              href="https://www.Facebook.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-fb"></use>
              </svg>
            </a>
          </li>

          <li class="social-icon">
            <a
              class="socials-link"
              href="https://www.linkedin.com"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-link"></use>
              </svg>
            </a>
          </li>

          <li class="social-icon">
            <a
              class="socials-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-inst"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/Team/emma-stone-d-1x.png 1x,
              /images/Team/emma-stone-d-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/Team/emma-stone-t-1x.png 1x,
              /images/Team/emma-stone-t-2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/Team/emma-stone-m-1x.png 1x,
              /images/Team/emma-stone-m-2x.png 2x
            "
          />
          <img src="/images/Team/emma-stone-m-1x.png" alt="emma stone" />
        </picture>
        <div class="team-name-cont">
          <h3 class="team-name">Emma Stone</h3>
          <p class="team-prof">Meditation Coach</p>
          <p class="team-exp">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
        </div>
        <ul class="team-social">
          <li class="social-icon" hidden>
            <a
              class="socials-link"
              href="https://www.Facebook.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-fb"></use>
              </svg>
            </a>
          </li>

          <li class="social-icon">
            <a
              class="socials-link"
              href="https://www.linkedin.com"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-link"></use>
              </svg>
            </a>
          </li>

          <li class="social-icon" hidden>
            <a
              class="socials-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-inst"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/Team/sophia-lee-d-1x.png 1x,
              /images/Team/sophia-lee-d-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/Team/sophia-lee-t-1x.png 1x,
              /images/Team/sophia-lee-t-2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/Team/sophia-lee-m-1x.png 1x,
              /images/Team/sophia-lee-m-2x.png 2x
            "
          />
          <img src="/images/Team/sophia-lee-m-1x.png" alt="sophia lee" />
        </picture>
        <div class="team-name-cont">
          <h3 class="team-name">Sophia Lee</h3>
          <p class="team-prof">Pilates Trainer</p>
          <p class="team-exp">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
        </div>
        <ul class="team-social">
          <li class="social-icon" hidden>
            <a
              class="socials-link"
              href="https://www.Facebook.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-fb"></use>
              </svg>
            </a>
          </li>

          <li class="social-icon" hidden>
            <a
              class="socials-link"
              href="https://www.linkedin.com"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-link"></use>
              </svg>
            </a>
          </li>

          <li class="social-icon">
            <a
              class="socials-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-inst"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/Team/noah-brown-d-1x.png 1x,
              /images/Team/noah-brown-d-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/Team/noah-brown-t-1x.png 1x,
              /images/Team/noah-brown-t-2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/Team/noah-brown-m-1x.png 1x,
              /images/Team/noah-brown-m-2x.png 2x
            "
          />
          <img src="/images/Team/noah-brown-m-1x.png" alt="noah brown" />
        </picture>
        <div class="team-name-cont">
          <h3 class="team-name">Noah Brown</h3>
          <p class="team-prof">Yoga Therapist</p>
          <p class="team-exp">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
        </div>
        <ul class="team-social">
          <li class="social-icon" hidden>
            <a
              class="socials-link"
              href="https://www.Facebook.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-fb"></use>
              </svg>
            </a>
          </li>

          <li class="social-icon">
            <a
              class="socials-link"
              href="https://www.linkedin.com"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-link"></use>
              </svg>
            </a>
          </li>

          <li class="social-icon" hidden>
            <a
              class="socials-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-inst"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/Team/ava-green-d-1x.png 1x,
              /images/Team/ava-green-d-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/Team/ava-green-t-1x.png 1x,
              /images/Team/ava-green-t-2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/Team/ava-green-m-1x.png 1x,
              /images/Team/ava-green-m-2x.png 2x
            "
          />
          <img src="/images/Team/ava-green-m-1x.png" alt="ava green" />
        </picture>
        <div class="team-name-cont">
          <h3 class="team-name">Ava Green</h3>
          <p class="team-prof">Fitness Trainer</p>
          <p class="team-exp">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
        </div>
        <ul class="team-social">
          <li class="social-icon">
            <a
              class="socials-link"
              href="https://www.Facebook.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-fb"></use>
              </svg>
            </a>
          </li>

          <li class="social-icon">
            <a
              class="socials-link"
              href="https://www.linkedin.com"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-link"></use>
              </svg>
            </a>
          </li>

          <li class="social-icon">
            <a
              class="socials-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-inst"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/Team/clarkt-thomas-d-1x.png 1x,
              /images/Team/clarkt-thomas-d-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/Team/clarkt-thomas-t-1x.png 1x,
              /images/Team/clarkt-thomas-t-2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/Team/clarkt-thomas-m-1x.png 1x,
              /images/Team/clarkt-thomas-m-2x.png 2x
            "
          />
          <img src="/images/Team/clarkt-thomas-m-1x.png" alt="clarkt thomas" />
        </picture>
        <div class="team-name-cont">
          <h3 class="team-name">Clark Thomas</h3>
          <p class="team-prof">Fitness Trainer</p>
          <p class="team-exp">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
        </div>
        <ul class="team-social">
          <li class="social-icon">
            <a
              class="socials-link"
              href="https://www.Facebook.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-fb"></use>
              </svg>
            </a>
          </li>

          <li class="social-icon" hidden>
            <a
              class="socials-link"
              href="https://www.linkedin.com"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-link"></use>
              </svg>
            </a>
          </li>

          <li class="social-icon">
            <a
              class="socials-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#icon-inst"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
