<section class="yoga-classes" id="yoga-classes">
  <div class="container">
    <p class="yoga-classes-title-text">Explore</p>
    <h2 class="yoga-classes-title">Discover Our Most Popular Yoga Programs</h2>
    <p class="yoga-classes-text">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="yoga-classes-list">
      <li class="yoga-classes-item">
        <picture>
          <source
            srcset="
              /images/yoga-classes-images1.jpg    1x,
              /images/yoga-classes-images1-2x.jpg 2x
            "
            media="(min-width:1336px)"
          />
          <source
            srcset="
              /images/yoga-classes-images1-tab.jpg    1x,
              /images/yoga-classes-images1-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /images/yoga-classes-images1-mob.jpg    1x,
              /images/yoga-classes-images1-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="/images/yoga-classes-images1.jpg"
            alt="Beginner Yoga"
            class="yoga-classes-images"
          />
        </picture>
        <h3 class="yoga-classes-images-title">
          Beginner Yoga: Foundations
          <span class="yoga-classes-images-title-hiden"
            >for New Practitioners</span
          >
        </h3>
        <p class="yoga-classes-images-text">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>
      <li class="yoga-classes-item">
        <picture>
          <source
            srcset="
              /images/yoga-classes-images2.jpg    1x,
              /images/yoga-classes-images2-2x.jpg 2x
            "
            media="(min-width:1336px)"
          />
          <source
            srcset="
              /images/yoga-classes-images2-tab.jpg    1x,
              /images/yoga-classes-images2-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /images/yoga-classes-images2-mob.jpg    1x,
              /images/yoga-classes-images2-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="/images/yoga-classes-images2.jpg"
            alt="Vinyasa Flow"
            class="yoga-classes-images"
          />
        </picture>
        <h3 class="yoga-classes-images-title">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="yoga-classes-images-text">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>
      <li class="yoga-classes-item yoga-classes-item-fullwidth">
        <picture>
          <source
            srcset="
              /images/yoga-classes-images3.jpg    1x,
              /images/yoga-classes-images3-2x.jpg 2x
            "
            media="(min-width:1336px)"
          />
          <source
            srcset="
              /images/yoga-classes-images3-tab.jpg    1x,
              /images/yoga-classes-images3-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /images/yoga-classes-images3-mob.jpg    1x,
              /images/yoga-classes-images3-mob-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="/images/yoga-classes-images3.jpg"
            alt="Restorative Yoga"
            class="yoga-classes-images"
          />
        </picture>
        <h3 class="yoga-classes-images-title">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="yoga-classes-images-text">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <a href="#pricing-section" class="yoga-classes-button">
      Join <span class="yoga-classes-button-hiden-text">now</span>
    </a>
  </div>
</section>
