:root {
  --text-color: #0d0b0a;
  --bg-color: #f8fbfe;
  --footer-bg-color: #dfebeb;
  --mobile-pricing-bg: #f2fafa;
}


:root {
  --font-family: 'Sarabun' , sans-serif;
  --second-font: 'Cabin' , sans-serif;
  --text-font: 'Roboto', sans-serif;

}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--bg-color);
  
  
  font-size: 16px;
  line-height: 1.6;

}

