

.section-pricing {
    padding-top: 64px;
    padding-bottom: 64px;
}

.section-pricing-text {
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
}

.section-pricing-title {
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 20px;
}

.section-pricing-text span {
    font-weight: 400;
    display: block;
    margin-bottom: 40px;
}

.section-pricing-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

}

.section-pricing-item {
    border: 0px solid rgba(13, 11, 10, 0.15);
    border-radius: 16px;
    padding: 32px 24px;
    width: 343px;
    background-color: #dfebeb;
}

.tablet {
    display: none;
}

.pricing-item-title {
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 8px;
}

.pricing-item-text {
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    
}

.pricing-item-container {
    margin-bottom: 24px;
}

.pricing-package-list {
    margin-bottom: 32px;
}

.pricing-package-item {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.pricing-package-text {
    font-weight: 400;
}

.pricing-package-btn {
    width: 100%;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
    height: 46px;
    background-color: #c2d9fc;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    .section-pricing {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section-pricing-text {
        margin-bottom: 16px;
    }

    .section-pricing-title {
        margin-bottom: 24px;
    }

    .section-pricing-text span {

        margin-bottom: 24px;
    }

    .section-pricing-list {
        gap: 24px;
    }

    .section-pricing-item {
        width: calc((100% - 24px) / 2);
        padding: 16px;
    }

    .mobile-desk {
        display: none;
    }


    .section-pricing-list .section-pricing-item:last-child {
        display: flex;
        flex-grow: 1;        
        padding: 86px 16px;
        justify-content: space-between;
        

    }

    .pricing-item-container {
        width: calc((100% - 32px) / 2);
        margin: 0 auto;
    }

    .pricing-item-title {
        font-size: 22px;
    }

    .pricing-item-text {
        font-size: 72px;
        margin-bottom: 34px;
    }

    .pricing-item-container .pricing-item-title {
        margin-bottom: 24px;
    }

    .pricing-item-container .pricing-item-text {
        margin-bottom: 24px;
    }

}

@media only screen and (min-width: 1336px) {
    .section-pricing {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .section-pricing-title {
        font-size: 52px;
    }

    .section-pricing-text span {
    
        margin-bottom: 40px;
    }

        .section-pricing-item {
            width: calc((100% - 24px * 2) / 3);
            padding: 32px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            
        }

        
        .section-pricing-list .section-pricing-item:last-child {
            display: none;
        }

        .mobile-desk {
                display: list-item;
            }

        .package-text-desk {
            display: none;
        }

                .pricing-item-container {
                    width: 100%;
                    margin: 0 auto;
                }
         .pricing-item-title {
             margin-bottom: 8px;
         }
        .pricing-item-text {
            margin-bottom: 32px;
        }
}