.section-our-team {
  width: 100%;
  background-color: #f2fafa;
}

.container.team {
  padding-top: 64px;
  padding-bottom: 64px;
}

.team-title-wrap {
  max-width: 343px;
  margin-bottom: 48px;
}

.meet {
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}

.section-title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 20px;
}

.team-main-text {
  font-weight: 400;
  text-align: center;
}

.team-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 343px;
  gap: 48px;
}

.team-photo {
  max-width: 343px;
  margin-bottom: 20px;
}

.team-name-cont {
  width: 100%;
  margin-bottom: 20px;
}

.team-name {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.team-prof,
.team-exp {
  font-weight: 400;
  text-align: center;
  margin-bottom: 12px;
}

.team-exp {
  margin-bottom: 20px;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.socials-link {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-link:hover {
  transform: scale(1.5);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .container.team {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .team-title-wrap {
    max-width: 768px;
    margin-bottom: 40px;
  }

  .meet {
    margin-bottom: 16px;
  }

  .section-title {
    font-size: 52px;
    margin-bottom: 24px;
  }

  .team-main-text {
    font-size: 18px;
  }

  .team-cont {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 704px;
    gap: 24px;
  }

  .team-item {
    width: calc((704px - 24px) / 2);
  }

  .team-photo {
    max-width: 100%;
    margin-bottom: 24px;
  }

  .team-name-cont {
    margin-bottom: 24px;
  }

  .team-name {
    font-size: 22px;
  }

  .team-prof,
  .team-exp {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1336px) {
  .container.team {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .team-title-wrap {
    max-width: 1312px;
  }

  .team-cont {
    max-width: 1312px;
    gap: 67px 24px;
  }

  .team-item {
    width: calc((1312px - 48px) / 3);
  }
}
