.testimonial-section {
    padding: 64px 0;
    padding-left: 16px;
    padding-right: 16px;
}

.testimonial-container {
    /* margin: 0 auto;
    padding: 0 16px;
    min-width: 320px;
    max-width: 375px;*/
    overflow-x: hidden;
}

.testimonial-title {
    text-align: center;
    margin: 0 auto 20px auto;
    font-family: 'Cabin', sans-serif;
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

.testimonial-description {
    text-align: center;
    margin-bottom: 24px;
}

.testimonials {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-card {
    border-radius: 24px;
    padding: 12px;
    background-color: #dfebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quote {
    font-size: 22px;
    text-align: center;
    margin: 0 0 32px 0;
}

.avatar-wrapper {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin: 0 auto 16px auto;
    border-radius: 100%;
    display: block;
}

.avatar-name {
    font-weight: 700;
    text-align: center;
}

.avatar-status {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.testimonial-card:nth-child(4) .quote {
    display: flex;
    flex-wrap: wrap;
}

.stress-phrase {
    display: inline-block;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {

    /*.testimonial-container {
      padding: 0 32px;
      max-width: 768px;
    }*/
    .testimonial-section {
        padding: 40px 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .testimonial-title {
        margin-bottom: 24px;
        font-size: 40px;
    }

    .testimonial-card {
        min-height: 356px;
    }

    .testimonial-card:nth-child(1) {
        padding: 29.5px 12px;
        height: 356px;
    }

    .testimonial-card:nth-child(3),
    .testimonial-card:nth-child(4) {
        min-height: 321px;
    }

    .quote {
        flex-grow: 1;
    }

    .avatar {
        margin-top: auto;
    }
}

@media screen and (min-width: 1336px) {

    /*.testimonial-container {
      padding: 12px;
      max-width: 1336px;
    }*/
    .testimonial-section {
        padding: 112px 0;
        padding-left: 64px;
        padding-right: 64px;
    }

    .testimonial-title {
        font-size: 52px;
    }

    .testimonial-card {
        width: calc((100% - 24px) / 2);
    }

    .testimonial-card:nth-child(1) {
        padding: 12px;
        height: auto;
    } }